{% extends 'Base.html' %}
{% load online %}
{% load static %}


{% block head %}
<style>
    #showcase1 {
        background: url("{% static 'pictures/some6.png' %}") center center/cover no-repeat;
        min-height: 350px;
        max-height: 350px;
        position: relative;
        display: block;
        margin: 0 auto;
    }
</style>
<meta name="description" content="Your Bots, BotConstructor">
{% endblock head %}


{% block main_section %}
{% include 'Navbar.html' %}
<section id="showcase1" class="d-flex justify-content-center align-items-center shadow">
    <div id="header" class="container text-white">
        <h4 class="text-light">Your Telegram Bots</h4>
        <a href="{% url 'create_bot_first_step_url' %}" style="width: 210px;"
            class="btn btn-light shadow-sm text-dark mt-2 border-left border-bottom border-right">Create new
            bot</a>
    </div>
</section>

{% if messages %}
{% for message in messages %}
<div class="shadow p-5">
    <div class="container">
        <p style="font-size: 18px;" class="mb-0">{{ message }}</p>
    </div>
</div>
{% endfor %}
{% endif %}


{% for bot in all_bots %}
<div class="shadow p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h5>Title - {{ bot.title }} | Username - {{ bot.username }}</h5>
            </div>

            <div class="col-md-5">
                <div class="float-right">
                    {% if bot.file_config|check_online == 'The bot is hosted' %}
                    <p class="text-muted"><a href="{% url 'stop_bot_url' token=bot.access_token %}">Stop hosting</a>
                    </p>
                    {% else %}
                    <p class="text-danger"><a href="{% url 'start_bot_url' token=bot.access_token %}" class="mr-2">Start
                            hosting</a></p>
                    {% endif %}
                </div>
                <small class="text-muted float-right mr-2 mt-1">{{ bot.file_config|check_online }}</small>
            </div>
        </div>

        <p class="text-secondary">{{ bot.access_token }}</p>

        <a href="{% url 'create_bot_second_step_text_url' token=bot.access_token %}"
            class="btn btn-sm btn-outline-light shadow-sm mt-1 text-dark border-left border-bottom border-right"
            style="width: 100px;">Edit</a>
        <a href="{% url 'create_bot_third_step_url' token=bot.access_token %}"
            class="btn btn-sm btn-outline-light shadow-sm ml-2 mr-2 mt-1 text-primary border-left border-bottom border-right"
            style="width: 100px;">Download</a>
        <a href="{% url 'delete_bot_url' bot_id=bot.id %}"
            class="btn btn-sm btn-outline-light shadow-sm mt-1 text-danger border-left border-bottom border-right"
            style="width: 100px;">󠁛󠁛󠁛Delete</a>

        <div class="row mt-3">
            <div class="col-6">
                <strong class="text-muted">{{ bot.owner.user.first_name }}
                    {{ bot.owner.user.last_name }}</strong>
            </div>
            <div class="col-6">
                <small class="text-muted float-right">{{ bot.date_created }}</small>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- </div> -->
<!-- </div> -->
{% endblock main_section %}