{% extends 'Base.html' %}

{% block main_section %}
{% include 'Navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-secondary mt-2">All your bots</h5> 
        </div>

        <div class="col-md-6">
            <div class="row float-right mr-0">
                <form action="{% url 'create_bot_file_url' %}" method="POST">
                    {% csrf_token %}
        
                    <button type="submit" class="btn btn-outline-warning btn-sm ml-2 mt-2">Create file bot</button>
                </form>
    
                <form action="{% url 'create_bot_url' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
    
                    <button type="submit" class="btn btn-outline-success btn-sm ml-2 mt-2">Create bot</button>
                </form>
            </div>
        </div>
    </div>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning mt-2">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% for bot in all_bots %}
        <div class="card mb-4 box-shadow mt-2">
            <div class="card-body">
                <p class="text-secondary">{{ bot.access_token }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'update_bot_url' bot_id=bot.id %}" class="btn btn-sm btn-outline-primary">Update</a>
                        <a href="{% url 'delete_bot_url' bot_id=bot.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
                    </div>
                    <small class="text-muted">{{ bot.owner.user.first_name }} {{ bot.owner.user.last_name }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock main_section %}