{% extends 'Base.html' %}
{% load static %}

{% block main_section %}
{% include 'Navbar.html' %}
<div class="container">
    <div style="position: relative; overflow: hidden; height: 150px; border-radius: 3px;">
        <img src="{% static 'pictures/14961556102_13f1b039b4_o.png' %}" class="img-fluid"
            style="width: 100%; top: -90%;">
        <div style="position: absolute; top: 10px; left: 10px; color: white; padding-left: 20px; padding-right: 20px;">
            <h4 class="text-light mt-2">Here you can see your profile</h4>
            <ul class="text-light">
                <li>Go to the Telegram and find @BotFather</li>
                <li>There follow the instructions and generate the token</li>
                <li>Copy API token and input it in form</li>
            </ul>
        </div>
    </div>
    <hr>
    <h5 class="text-secondary mt-2">You must to enter API token</h5>

    <form method="POST">
        {% csrf_token %}

        {{ first_form.access_token }}

        <div class="form-row">
            <div class="col-md-6 mt-2">
                {{ first_form.name }}
            </div>
            <div class="col-md-6 mt-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    {{ first_form.username }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-outline-success btn-sm mt-2" style="width: 20%;">Next</button>
    </form>
</div>
{% endblock main_section %}