{% extends 'Base.html' %}
{% load static %}


{% block head %}
<style>
    #showcase8 {
        background: url("{% static 'pictures/some10.png' %}") center center/cover no-repeat;
        min-height: 350px;
        max-height: 350px;
        position: relative;
        display: block;
        margin: 0 auto;
    }
</style>
<meta name="description" content="First step, BotConstructor">
{% endblock head %}


{% block main_section %}
{% include 'Navbar.html' %}
<section id="showcase8" class="d-flex justify-content-center align-items-center shadow">
    <div id="header" class="container text-white">
        <h4 class="text-light">Here you must input your token</h4>
        <dl class="text-light">
            <dd> — Go to the Telegram and find <a href="https://t.me/BotFather" style="font-size: 20px;"
                    class="text-warning" target="_blank">@BotFather</a></dd>
            <dd> — Follow the instructions there and generate the token</dd>
            <dd> — Copy the token and enter it into the form</dd>
        </dl>
        <h5 class="text-light mt-4">Warning. If the token is invalid, the form below will not be filled out
            automatically, and you will not proceed to the next step...</h5>
        <dl>
            <dd class="text-light">— If your token is real and the form will not be completed, just wait 3 minutes before
                creating it.
            </dd>
        </dd>
    </div>
</section>

<div id="error"></div>

{% if messages %}
{% for message in messages %}
<div class="shadow-effects shadow p-5">
    <div class="container">
        <p class="mb-0 responsive-text">{{ message }}</p>
    </div>
</div>
{% endfor %}
{% endif %}

<div class="shadow p-5">
    <div class="container">
        <form method="POST" onchange="getCredentialsOfBot(this); return false;"
            onmouseover="getCredentialsOfBot(this); return false;">
            {% csrf_token %}

            <label for="id_access_token" class="mb-0">{{ first_form.access_token.label }}</label>
            <div id="input_access">
                {{ first_form.access_token }}
            </div>


            <div class="form-row">
                <div class="col-md-6">
                    <label for="id_title" class="mb-0 mt-2">{{ first_form.title.label }}</label>
                    {{ first_form.title }}
                </div>

                <div class="col-md-6">
                    <label for="id_username" class="mb-0 mt-2">{{ first_form.username.label }}</label>
                    {{ first_form.username }}
                </div>
            </div>

            <button type="submit"
                class="btn btn-outline-light text-dark border-left border-bottom border-right shadow-sm mt-4"
                style="width: 20%;" id="id_button_nxt" disabled="disabled">
                Save
            </button>
        </form>
    </div>
</div>
{% endblock main_section %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/access_token_loader.js' %}" async></script>
{% endblock javascript %}