{% extends 'Base.html' %}
{% load static %}

{% block main_section %}
{% include 'Navbar.html' %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning mt-2">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% for field in text_form %}
        {% if field.errors %}
            <div class="alert alert-warning mt-2">
                {{ field.errors }}
            </div>
        {% endif %}
    {% endfor %}

    {% for field in reply_markup_form %}
        {% if field.errors %}
            <div class="alert alert-warning mt-2">
                {{ field.errors }}
            </div>
        {% endif %}
    {% endfor %}

    <div class="image-with-text" style="height: 130px;">
        <img src="{% static 'pictures/14961556102_13f1b039b4_o.png' %}" class="max-width img-fluid">
        <div class="text-on-img-2">
            <h4 class="text-light mt-2">Configure your bot here</h4>
            <ul class="text-light">
                {% if request.path == '/createBot/secondStep/templates/' %}
                    <li>Select one of the proposed options here to continue editing it</li>
                    <li>After the election you will be missing the rest of the editing settings.</li>
                {% else %}
                    <li>Click on one of the submenu items to start</li>
                    <li>Correctly fill out all of the form data</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="d-flex flex-row btn-group mt-2">
        <a href="{% url 'create_bot_second_step_text_url' %}" class="col-md-3 btn btn-outline-secondary {% if request.path == '/createBot/secondStep/text/' %}active{% endif %}" id="text">Text</a>
        <a href="{% url 'create_bot_second_step_reply_markup_url' %}" class="col-md-3 btn btn-outline-secondary {% if request.path == '/createBot/secondStep/replyMarkup/' or request.path == '/createBot/secondStep/replyMarkup/replyButtons/' %}active{% endif %}" id="reply">Reply Buttons</a>
        <a href="{% url 'create_bot_second_step_inline_markup_url' %}" class="col-md-3 btn btn-outline-secondary {% if request.path == '/createBot/secondStep/inlineMarkup/' or request.path == '/createBot/secondStep/inlineMarkup/inlineButtons/' %}active{% endif %}" id="inline">Inline Buttons</a>
        <a href="{% url 'templates' %}" class="col-md-3 btn btn-outline-secondary {% if request.path == '/createBot/secondStep/templates/' %}active{% endif %}">Templates</a>
    </div>

    
    {% if request.path == '/createBot/secondStep/templates/' %}
        <form action="{% url 'templates' %}" method="POST" class="mt-2" onchange="onCheck()">
            {% csrf_token %}

            {% for pk, choice in template_form.templates.field.widget.choices %}
                <div class="custom-control custom-radio custom-control-inline">
                    <input id="id_{{ template_form.templates.name }}_{{ forloop.counter0 }}" name="{{template_form.templates.name}}" type="{{ template_form.templates.field.widget.input_type }}" value="{{ pk }}" class="custom-control-input" {% ifequal template_form.templates.data pk.0 %}checked="checked"{% endifequal %}>
                    <label for="id_{{ template_form.templates.name }}_{{ forloop.counter0 }}" class="custom-control-label">{{ choice }}</label>
                </div>
            {% endfor %}
                
            <button type="submit" class="btn btn-outline-primary btn-sm float-right" style="width: 24.4%;">Select</button>
        </form>
    {% endif %}

    {% if request.path == '/createBot/secondStep/text/' %}
        {% if text_elements %}
            {% for text_item in text_elements %}
                <form action="{% url 'create_bot_second_step_text_update_url' %}" method="POST" class="mt-3">
                    {% csrf_token %}

                    <div class="form-row mb-3">
                        <div class="col-md-9">
                            <input class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" name="react_text_{{ text_item.0 }}"
                                value="{{ text_item.1.react_text }}">
                        </div>
                        <div class="col-md-3">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-outline-success btn-block">Update</button>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'create_bot_second_step_text_delete_url' button_id=text_item.0 %}" class="btn btn-outline-danger btn-block">Delete</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control mt-2" aria-label="Sizing example input" style="height: 100%;"
                                      aria-describedby="inputGroup-sizing-sm" name="response_text_{{ text_item.0 }}">{{ text_item.1.response_text }}</textarea>
                        </div>

                        <div class="col-md-12 mt-2">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" name="remove_reply_markup_{{ text_item.0 }}" class="custom-control-input" {% if text_item.1.remove_reply_markup %}checked{% endif %} id="remove_reply_markup_{{ text_item.0 }}">
                                <label for="remove_reply_markup_{{ text_item.0 }}" class="custom-control-label">Remove Reply Markup</label>
                            </div>
                        </div>
                    </div>
                </form>
            {% endfor %}
        {% else %}
            <div class="alert alert-success mt-3" role="alert">
                <h5 class="alert-heading mb-0 mt-0">No such elements added</h5>
                <hr>
                <p class="mt-0 mb-0">If you want to add new text response check the form below</p>
            </div>
        {% endif %}
    {% endif %}

    {% if request.path == '/createBot/secondStep/text/' %}
        <div class="form-row">
            <h5 class="ml-1 text-dark">Create response text</h5>
            <h6 class="mt-1 ml-2 text-secondary">Required settings</h6>
        </div>

        <form action="{% url 'create_bot_second_step_text_url' %}" method="POST">
            {% csrf_token %}

            <div class="form-row mt-0">
                <div class="col-md-10">
                    {{ text_form.react_text }}
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-primary btn-block">Create Text</button>
                </div>
            </div>
            <div class="mt-2">
                {{ text_form.response_text }}
            </div>

            <div class="form-row ml-0 mt-1">
                {% for pk, choice in text_form.remove_reply_markup.field.widget.choices %}
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input id="id_{{ text_form.remove_reply_markup.name }}_{{ forloop.counter0 }}" name="{{ text_form.remove_reply_markup.name }}" type="{{ text_form.remove_reply_markup.field.widget.input_type }}" value="{{ pk }}" class="custom-control-input" {% ifequal text_form.remove_reply_markup.data pk.0 %}checked="checked"{% endifequal %}>
                        <label for="id_{{ text_form.remove_reply_markup.name }}_{{ forloop.counter0 }}" class="custom-control-label">{{ choice }}</label>
                    </div>
                {% endfor %}
            </div>
        </form>
    {% elif request.path == '/createBot/secondStep/replyMarkup/' or request.path == '/createBot/secondStep/replyMarkup/replyButtons/' %}
        {% if reply_markup_elements %}
            {% for reply_markup_element in reply_markup_elements %}
                <div class="form-row mt-3">
                    <div class="col-md-5">
                        <form action="{% url 'create_bot_second_step_reply_markup_update_url' %}" method="POST" class="mb-3">
                            {% csrf_token %}

                            <div class="form-row row">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">React</div>
                                        </div>
                                        <input class="form-control" name="react_text_{{ reply_markup_element.0 }}" value="{{ reply_markup_element.1.react_text }}">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <input class="form-control" name="row_width_{{ reply_markup_element.0 }}" value="{{ reply_markup_element.1.row_width }}">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text mt-2">Response</div>
                                </div>
                                <input class="form-control mt-2" name="response_text_markup_{{ reply_markup_element.0 }}" value="{{ reply_markup_element.1.response_text }}">
                            </div>
                    
                            <div class="form-row mt-2 mb-2">
                                <div class="ml-1">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" name="resize_keyboard_{{ reply_markup_element.0 }}" class="custom-control-input" {% if reply_markup_element.1.resize_keyboard %}checked{% endif %} id="res_key_{{ reply_markup_element.0 }}">
                                        <label for="res_key_{{ reply_markup_element.0 }}" class="custom-control-label">Resize keyboard</label>
                                    </div>
                                </div>

                                <div class="ml-1">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" name="one_time_keyboard_{{ reply_markup_element.0 }}" class="custom-control-input" {% if reply_markup_element.1.one_time_keyboard %}checked{% endif %} id="o_t_k_{{ reply_markup_element.0 }}">
                                        <label for="o_t_k_{{ reply_markup_element.0 }}" class="custom-control-label">One time keyboard</label>
                                    </div>
                                </div>

                                <div class="ml-1">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" name="selective_{{ reply_markup_element.0 }}" class="custom-control-input" {% if reply_markup_element.1.selective %}checked{% endif %} id="s_{{ reply_markup_element.0 }}">
                                        <label for="s_{{ reply_markup_element.0 }}" class="custom-control-label">Selective</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-outline-warning btn-sm btn-block">Update keyboard</button>
                                </div>

                                <div class="col-md-4">
                                    <a href="{% url 'create_bot_second_step_reply_markup_delete_url' markup_id=reply_markup_element.0 %}" class="btn btn-outline-danger btn-sm btn-block">Delete keyboard</a>
                                </div>

                                <div class="col-md-4">
                                    {% if request.path == '/createBot/secondStep/replyMarkup/replyButtons/' %}
                                        <a href="{% url 'create_bot_second_step_reply_markup_url' %}" class="btn btn-outline-success btn-sm btn-block">New Keyboard</a>
                                    {% elif request.path == '/createBot/secondStep/replyMarkup/' %}
                                        <a href="{% url 'create_bot_second_step_reply_buttons_url' %}" class="btn btn-outline-dark btn-sm btn-block">Add button</a>
                                    {% endif %}
                                </div>
                            </div>                                
                        </form>
                    </div>

                    <div class="col-md-7">
                        {% for button_element in reply_markup_element.1.buttons %}
                            <form action="{% url 'create_bot_second_step_reply_buttons_update_url' %}" method="POST" class="mb-3">
                                {% csrf_token %}

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Text</div>
                                    </div>
                                    <input class="form-control" name="response_text_{{ reply_markup_element.0 }}_{{ forloop.counter0 }}" value="{{ button_element.response_text }}">
                                </div>
                                <div class="form-row mt-1 mb-1 ml-0">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="radio_buttons_{{ reply_markup_element.0 }}_{{ forloop.counter0 }}" value="request_contact" class="custom-control-input" {% if button_element.request_contact %}checked="checked"{% endif %} id="req_con_{{ forloop.counter0 }}">
                                        <label for="req_con_{{ forloop.counter0 }}" class="custom-control-label">Request contact</label>
                                    </div>

                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="radio_buttons_{{ reply_markup_element.0 }}_{{ forloop.counter0 }}" value="request_location" class="custom-control-input" {% if button_element.request_location %}checked="checked"{% endif %} id="req_loc_{{ forloop.counter0 }}">
                                        <label for="req_loc_{{ forloop.counter0 }}" class="custom-control-label">Request location</label>
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-outline-warning btn-sm btn-block">Update button</button>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="{% url 'create_bot_second_step_reply_button_delete_url' markup_id=reply_markup_element.0 button_id=forloop.counter0 %}" class="btn btn-outline-danger btn-sm btn-block">Delete button</a>
                                    </div>
                                </div>
                            </form>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-success mt-3" role="alert">
                <h5 class="alert-heading mb-0 mt-0">No such elements added</h5>
                <hr>
                <p class="mt-0 mb-0">If you want to add new text response check the form below</p>
            </div>
        {% endif %}
        <div class="form-row">
            <h5 class="text-dark ml-1">Create reply markup</h5>
            <h6 class="mt-1 ml-2 text-secondary">Keyboard settings</h6>    
        </div>

        {% if request.path == '/createBot/secondStep/replyMarkup/replyButtons/' %}
            <form action="{% url 'create_bot_second_step_reply_buttons_url' %}" method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col-md-10">
                        {{ reply_button_form.response_text }}
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-outline-primary btn-block">Create Button</button>
                    </div>
                </div>

                <div class="form-row ml-0 mt-1">
                    {% for pk, choice in reply_button_form.radio_buttons.field.widget.choices %}
                        <div class="custom-control custom-radio custom-control-inline">
                            <input id="id_{{ reply_button_form.radio_buttons.name }}_{{ forloop.counter0 }}" name="{{ reply_button_form.radio_buttons.name }}" type="{{ reply_button_form.radio_buttons.field.widget.input_type }}" value="{{ pk }}" class="custom-control-input" {% ifequal reply_button_form.radio_buttons.data pk.0 %}checked="checked"{% endifequal %}>
                            <label for="id_{{ reply_button_form.radio_buttons.name }}_{{ forloop.counter0 }}" class="custom-control-label">{{ choice }}</label>
                        </div>
                    {% endfor %}
                </div>
            </form>
        {% elif request.path == '/createBot/secondStep/replyMarkup/' %}
            <form action="{% url 'create_bot_second_step_reply_markup_url' %}" method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col-md-10">
                        {{ reply_markup_form.react_text }}
                    </div>
                    <div class="col-md-2">
                        {{ reply_markup_form.row_width }}
                    </div>
                </div>

                <div class="mb-2">
                    <div class="form-row">
                        <div class="col-md-10">
                            {{ reply_markup_form.response_text_markup }}
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-outline-primary btn-block">Create Keyboard</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-row ml-0">
                            {% for pk, choice in reply_markup_form.checkboxes.field.widget.choices %}
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input id="id_{{ reply_markup_form.checkboxes.name }}_{{ forloop.counter0 }}" name="{{ reply_markup_form.checkboxes.name }}" type="{{ reply_markup_form.checkboxes.field.widget.input_type }}" value="{{ pk }}" class="custom-control-input" {% ifequal reply_markup_form.checkboxes.data pk.0 %}checked="checked"{% endifequal %}>
                                <label for="id_{{ reply_markup_form.checkboxes.name }}_{{ forloop.counter0 }}" class="custom-control-label">{{ choice }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    {% elif request.path == '/createBot/secondStep/inlineMarkup/' or request.path == '/createBot/secondStep/inlineMarkup/inlineButtons/' %}
        {% if inline_markup_elements %}
            {% for inline_markup_element in inline_markup_elements %}
                <div class="form-row mt-3">
                    <div class="col-md-5">
                        <form action="{% url 'create_bot_second_step_inline_markup_update_url' %}" method="POST">
                            {% csrf_token %}

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Response</div>
                                </div>
                                <input class="form-control" type="text" name="response_text_inline_{{ inline_markup_element.0 }}" value="{{ inline_markup_element.1.response_text }}">
                            </div>

                            <div class="form-row">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text mt-2">React</div>
                                        </div>
                                        <input class="form-control mt-2" type="text" name="react_text_inline_{{ inline_markup_element.0 }}" value="{{ inline_markup_element.1.react_text }}">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control mt-2" type="number" min="1" max="5" name="row_width_inline_{{ inline_markup_element.0 }}" value="{{ inline_markup_element.1.row_width }}">
                                </div>
                            </div>
    
                            <div class="form-row">
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-outline-warning btn-sm mt-2 btn-block">Update markup</button>
                                </div>
                                <div class="col-md-4">
                                    <a href="{% url 'create_bot_second_step_inline_markup_delete_url' markup_id=inline_markup_element.0 %}" class="btn btn-outline-danger btn-sm mt-2 btn-block">Delete markup</a>
                                </div>
                                <div class="col-md-4">
                                    {% if request.path == '/createBot/secondStep/inlineMarkup/inlineButtons/' %}
                                        <a href="{% url 'create_bot_second_step_inline_markup_url' %}" class="btn btn-outline-success btn-sm mt-2 btn-block">Add keyboard</a>
                                    {% else %}
                                        <a href="{% url 'create_bot_second_step_inline_buttons_url' %}" class="btn btn-outline-dark btn-sm mt-2 btn-block">Add button</a>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-7">                    
                        {% for inline_button in inline_markup_element.1.buttons %}
                            <form action="{% url 'create_bot_second_step_inline_buttons_update_url' %}" method="POST" class="mb-3">
                                {% csrf_token %}

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Text</div>
                                    </div>
                                    <input class="form-control" type="text" name="text_inline_{{ inline_markup_element.0 }}_{{ forloop.counter0 }}" value="{{ inline_button.text }}">
                                </div>

                                {% if inline_button.url != False and inline_button.url != '' %}
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text mt-2">Url</div>
                                        </div>
                                        <input class="form-control mt-2" type="text" name="url_inline_{{ inline_markup_element.0 }}_{{ forloop.counter0 }}" value="{{ inline_button.url }}">
                                    </div>
                                {% endif %}
                                
                                {% if inline_button.switch_inline != False and inline_button.switch_inline != '' %}
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text mt-2">Switch Inline</div>
                                        </div>
                                        <input class="form-control mt-2" type="text" name="switch_inline_{{ inline_markup_element.0 }}_{{ forloop.counter0 }}" value="{{ inline_button.switch_inline }}">
                                    </div>
                                {% endif %}

                                {% if inline_button.switch_inline_current != False and inline_button.switch_inline_current != '' %}
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text mt-2">Switch Inline Current</div>
                                        </div>
                                        <input class="form-control mt-2" type="text" name="switch_inline_current_{{ inline_markup_element.0 }}_{{ forloop.counter0 }}" value="{{ inline_button.switch_inline_current }}" id="switch_inline_current_{{ inline_markup_element.0 }}_{{ forloop.counter0 }}">
                                    </div>
                                {% endif %}
                            
                                {% if inline_button.callback != False and inline_button.callback != '' %}
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text mt-2">Switch Inline</div>
                                        </div>
                                        <input class="form-control mt-2" type="text" name="callback_{{ inline_markup_element.0 }}_{{ forloop.counter0 }}" value="{{ inline_button.callback }}" id="callback_{{ inline_markup_element.0 }}_{{ forloop.counter0 }}">
                                    </div>
                                {% endif %}    

                                <div class="form-row mt-2">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-outline-warning btn-sm btn-block">Update button</button>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="{% url 'create_bot_second_step_inline_buttons_delete_url' markup_id=inline_markup_element.0 button_id=forloop.counter0 %}" class="btn btn-outline-danger btn-sm btn-block">Delete button</a>
                                    </div>
                                </div>
                            </form>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-success mt-3" role="alert">
                <h5 class="alert-heading mb-0 mt-0">No such elements added</h5>
                <hr>
                <p class="mt-0 mb-0">If you want to add new text response check the form below</p>
            </div>
        {% endif %}

        <div class="form-row mt-3">
            <h5 class="ml-1 text-dark">Create inline markup</h5>
            <h6 class="mt-1 ml-2 text-secondary">Required settings</h6>
        </div>

        
        {% if request.path == '/createBot/secondStep/inlineMarkup/' %}
            <form action="{% url 'create_bot_second_step_inline_markup_url' %}" method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col-md-10">
                        {{ inline_markup_form.react_text }}
                    </div>
                    <div class="col-md-2">
                        {{ inline_markup_form.row_width }}
                    </div>
                    <div class="col-md-10 mt-2">
                        {{ inline_markup_form.response_text }}
                    </div>
                    <div class="col-md-2 mt-2">
                        <button type="submit" class="btn btn-outline-success btn-block">Create inline</button>
                    </div>
                </div>
            </form>
        {% elif request.path == '/createBot/secondStep/inlineMarkup/inlineButtons/' %}
            <form action="{% url 'create_bot_second_step_inline_buttons_url' %}" method="POST" onchange="getInlineValues(this)">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col-md-6">
                        {{ inline_button_form.text }}
                    </div>
                    <div class="col-md-6">
                        {{ inline_button_form.url }}
                    </div>
                    <div class="col-md-12 mt-2">
                        {{ inline_button_form.switch_inline }}
                    </div>
                    <div class="col-md-12 mt-2">
                        {{ inline_button_form.switch_inline_current }}
                    </div>
                    <div class="col-md-10 mt-2">
                        {{ inline_button_form.callback }}
                    </div>
                    <div class="col-md-2 mt-2">
                        <button type="submit" class="btn btn-outline-success btn-block">Create button</button>
                    </div>
                </div>
            </form>
        {% endif %}
    {% endif %}

    <div style="position: relative; bottom: 0;">
        <hr>
        <div class="form-row">
            <div class="col-md-9">
                <h5 class="btn btn-outline-dark btn-sm btn-block text-dark disabled">To go to the next page you must press the button</h5>
            </div>
            
            <div class="col-md-3">
                <form action="{% url 'create_bot_second_step_next_step_url' %}" class="mb-2">
                    {% csrf_token %}
                    
                    <button type="submit" class="btn btn-secondary btn-block btn-sm">Next</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main_section %}