{% extends 'Base.html' %}
{% load static %}

{% block main_section %}
{% include 'Navbar.html' %}
<div class="container">
    <div class="image-with-text shadow" style="height: 105px;">
        <img src="{% static 'pictures/apple_mac_os_x_el_capitan-2560x1440.png' %}"
            class="max-width img-fluid">
        <div class="text-on-img-2">
            <h4 class="text-dark mt-2">Here you can download script or config</h4>
            <h5 class="text-dark">It's final step. Now, you can download configuration or script of your bot</h5>
        </div>
    </div>
    <h3 class="text-center mt-3 mb-3 text-secondary">Congratulations. You create your bot</h3>
    <div class="form-row mt-3 mb-3">
        <div class="col-md-4">
            <a href="{% url 'download_config_url' token=token %}"
                class="btn btn-outline-light text-primary border-bottom border-left border-right shadow-sm btn-block">
                Download config</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'download_script_url' token=token %}"
                class="btn btn-outline-light text-dark border-bottom border-left border-right shadow-sm btn-block">
                Download script</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'auto_deploy_url' token=token %}"
                class="btn btn-outline-light border-bottom text-success border-left border-right shadow-sm btn-block">Deploy</a>
        </div>
    </div>

    <div class="alert alert-light text-dark shadow-sm border-right border-left border-bottom border-right mt-2">
        <h5>Below, you can edit the generated code</h5>
        <hr class="mb-2 mt-2">
        <h6 class="mb-1">All changes will be applied at your own risk</h6>
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-light border-bottom border-left border-right text-warning alert-dismissible fade show mt-2">
        {{ message }}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <div id="editor" class="code-editor shadow">{{ content }}</div>
    <form action="{% url 'create_bot_third_step_url' token=token %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="code_editor" id="code_hello_world" value="">
        <button type="submit" onclick="buttonClick()"
            class="btn btn-light text-success shadow-sm border-bottom border-left border-right btn-block mt-5 mb-4">Edit</button>
    </form>
</div>
{% endblock main_section %}

{% block javascript %}
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    editor.session.setMode("ace/mode/python");
    editor.setFontSize(15);
</script>
{% endblock javascript %}