{% extends 'Base.html' %}
{% load static %}

{% block main_section %}
{% include 'Navbar.html' %}
<div class="container">
    <div class="image-with-text" style="height: 105px;">
        <img src="{% static 'pictures/yosemite-5120x2880-5k-4k-wallpaper-8k-forest-osx-apple-mountains-181.png' %}"
            class="max-width img-fluid">
        <div class="text-on-img-2">
            <h4 class="text-light mt-2">Here you can download script or config</h4>
            <ul class="text-light">
                <li>It's final step. Now, you can download configuration or script of your bot</li>
            </ul>
        </div>
    </div>
    <hr>
    <h4>Congratulations. You create your bot</h4>
    <div class="form-row mt-3">
        <div class="col-md-4">
            <a href="{% url 'download_config_url' token=token %}" class="btn btn-outline-primary btn-sm btn-block">📜
                Download config</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'download_script_url' token=token %}" class="btn btn-outline-dark btn-sm btn-block">📃
                Download script</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'auto_deploy_url' token=token %}"
                class="btn btn-outline-success btn-sm btn-block">Deploy</a>
        </div>
    </div>

    <div class="alert alert-success mt-2">
        <h6>Below, you can edit the generated code</h6>
        <hr class="mb-2">
        <p class="mb-0">All changes will be applied at your own risk</p>
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show mt-2">
        {{ message }}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <div id="editor" class="code-editor">{{ content }}</div>
    <form action="{% url 'create_bot_third_step_url' token=token %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="code_editor" id="code_hello_world" value="">
        <button type="submit" onclick="buttonClick()"
            class="btn btn-outline-success btn-sm btn-block mt-5">Edit</button>
    </form>
</div>
{% endblock main_section %}

{% block javascript %}
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    editor.session.setMode("ace/mode/python");
    editor.setFontSize(15);
</script>
{% endblock javascript %}