{% extends 'Base.html' %}
{% load static %}
{% load online %}


{% block head %}
<style>
    #showcase6 {
        background: url("{% static 'pictures/some7.png' %}") top center/cover no-repeat;
        min-height: 350px;
        max-height: 350px;
        position: relative;
        display: block;
        margin: 0 auto;
    }
</style>
<meta name="description" content="Third step, BotConstructor">
{% endblock head %}


{% block main_section %}
{% include 'Navbar.html' %}
<section id="showcase6" class="d-flex justify-content-center align-items-center shadow">
    <div id="header" class="container text-white">
        <h4 class="text-light mt-4 mb-3">Congratulations. You create your bot</h4>
        <h5 class="text-light ml-0 mt-4">Here you can download a script or config</h5>
        <p class="text-light ml-0"> — This is the last step. Now you can download the
            configuration or script of your bot</p>
    </div>
</section>

{% if messages %}
{% for message in messages %}
<div class="shadow-effects shadow p-5">
    <div class="container">
        <p class="mb-0 responsive-text">{{ message }}</p>
    </div>
</div>
{% endfor %}
{% endif %}


<div class="shadow p-5">
    <div class="container responsive-text">
        <h5>Below, you can edit the generated code</h5>
        <p class="mb-1">All changes will be applied at your own risk</p>
    </div>
</div>


<div class="container">
    <div class="form-row mt-5">
        <div class="col-md-6">
            <a href="{% url 'download_script_url' token=token %}"
                class="btn btn-outline-light text-dark border-bottom border-left border-right shadow-sm btn-block mb-2">
                Download script</a>
        </div>
        <div class="col-md-6">
            {% if config|check_online %}
            <div class="form-row">
                <div class="col-md-6">
                    <a href="{% url 'stop_bot_url' token=token %}"
                        class="btn btn-outline-light border-bottom text-danger border-left border-right shadow-sm btn-block mb-2"
                        onclick="postload();">Stop hosting</a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'restart_bot' token=token %}"
                        class="btn btn-outline-light border-bottom text-primary border-left border-right shadow-sm btn-block"
                        onclick="postload();">Restart bot</a>
                </div>
            </div>
            {% else %}
            <a href="{% url 'auto_deploy_url' token=token %}"
                class="btn btn-outline-light border-bottom text-danger border-left border-right shadow-sm btn-block"
                onclick="postload();">Deploy</a>
            {% endif %}
        </div>
    </div>

    <div id="editor" class="code-editor shadow mt-5">{{ content }}</div>
    <form action="{% url 'create_bot_third_step_url' token=token %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="code_editor" id="code_hello_world" value="">
        <button type="submit" onclick="buttonClick()"
            class="btn btn-outline-light text-danger shadow border-bottom border-left border-right btn-block mt-5 mb-4">Edit</button>
    </form>
</div>
{% endblock main_section %}

{% block javascript %}
<script src="{% static 'js/script.js' %}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" defer>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/dawn");
    editor.session.setMode("ace/mode/python");
    editor.setFontSize(15);

    function postload() {
        $('body').load("{% url 'loading' %}");
    }
</script>
{% endblock javascript %}