{% extends 'Base.html' %}

{% block main_section %}
{% include 'Navbar.html' %}

<section id="showcase" class="d-flex justify-content-center align-items-center">
    <div id="header" class="container text-white">
        <h3 class="display-5 mb-0">Onward to the starts</h3>
        <h1 class="main-title display-3 mt-2">BotConstructor</h1>
        <p class="lead s-sm-block">Create bot without writing code</p>
        <a href="{% url 'create_bot_first_step_url' %}" id="where_i_am"
            class="btn btn-light text-dark shadow border-bottom border-left border-right btn-lg"
            href="{% url 'base_view_url' %}">Create bot</a>
    </div>
</section>

<section class="mt-4">
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dark shadow-sm alert-dismissible fade mt-2">
            {{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>

<section>
    <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi veritatis quaerat minus explicabo porro, eos
        facilis in aliquid maiores quod consequuntur hic reprehenderit odio necessitatibus sapiente ducimus quisquam!
        Nihil, laborum nobis nostrum dolores in, laboriosam excepturi error voluptatibus consectetur incidunt at iusto
        id aliquid possimus suscipit soluta dolore commodi. Enim, consequuntur nam illum dolorem ducimus repellat,
        perferendis tenetur quis laudantium beatae voluptate non doloribus aspernatur sequi, blanditiis quas
        necessitatibus voluptatibus tempore? Sapiente autem, quam soluta sed consequatur maxime obcaecati saepe nulla
        deleniti architecto sequi adipisci dignissimos sint fuga odit aspernatur facilis? Magnam necessitatibus
        provident delectus cumque debitis officia, est dicta, fuga iure iusto vero consequuntur? Possimus dicta quod
        facere accusamus id nisi, fugiat eum magni, unde quo velit non culpa, itaque voluptatem. Ducimus expedita optio
        delectus nostrum est vero cupiditate aspernatur veniam perspiciatis reprehenderit a labore suscipit ipsa
        exercitationem corporis id, aperiam ipsam itaque fuga excepturi ullam. Voluptatum ipsum et molestias aperiam
        corporis reprehenderit impedit illo voluptate dolorum maxime sint culpa tenetur consequuntur odit, dolorem
        nostrum exercitationem necessitatibus perspiciatis modi repellat magnam eaque quibusdam eos. Quia amet libero
        mollitia? Ipsam exercitationem officiis iure incidunt magni molestias quibusdam ex tempore. Corporis, totam
        tempora delectus sit aperiam blanditiis impedit nulla, non dolor nihil iste fugit magni labore molestiae numquam
        architecto culpa nemo officiis eveniet unde cum quia. Excepturi nemo, modi enim ipsa, consectetur accusantium
        blanditiis quam numquam perspiciatis eius libero maxime pariatur ad beatae nostrum quidem eum ex. Sunt, quisquam
        fugit quaerat perspiciatis reprehenderit architecto enim rerum excepturi, natus quae consequuntur. Veritatis
        aliquid quis necessitatibus amet explicabo quisquam officiis minus doloribus consequatur ratione at vero animi
        delectus nesciunt culpa esse, est praesentium ad molestias, accusamus incidunt aut! Omnis alias voluptatem
        assumenda delectus fugiat tenetur repudiandae doloribus rerum repellat quia obcaecati minus enim nam provident
        architecto nulla repellendus fugit veritatis necessitatibus, voluptas officia vitae veniam. Perferendis
        repellat, alias, et distinctio excepturi deleniti delectus vero dolorem accusamus nulla unde harum. Consectetur
        suscipit nisi aspernatur, facere impedit ullam unde quae alias saepe quas modi cumque dignissimos qui vero
        repellendus! Nam sunt fugit deserunt at dignissimos voluptatibus atque, ullam alias pariatur explicabo omnis
        illo aliquid libero adipisci perferendis minima facilis sit reiciendis blanditiis beatae error similique
        nesciunt ducimus. Exercitationem minima unde soluta impedit sequi possimus eligendi quibusdam, maxime explicabo
        libero, quis vero facere alias blanditiis accusantium eius, commodi asperiores aspernatur illum atque maiores.
        Ipsa, veniam! Adipisci tempora dolor sint tempore ratione illo! Dignissimos temporibus aliquid labore.
    </div>
</section>
{% include 'Footer.html' %}
{% endblock main_section %}