{% extends 'Base.html' %}
{% load static %}

{% block main_section %}
{% include 'Navbar.html' %}
<div class="container">
    <div class="image-with-text">
        <img src="{% static 'pictures/apple_mac_os_x_el_capitan-2560x1440.png' %}" class="img-fluid cur-img">
        <h3 class="text-on-img">Here you can see your profile</h3>
    </div>

    {% for field in update_image_form %}
        {% if field.errors %}
            <div class="alert alert-warning">
                {{ field.errors }}
            </div>
        {% endif %}
    {% endfor %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}


    <div class="row mt-2">
        <div class="col-md-3">
            {% if current_user.image %}
                <img src="{{ current_user.image.url }}" class="img-fluid w-100 border-class">
            {% else %}
                <img src="{% static 'pictures/default.png' %}" class="img-fluid profile profile-img-class">
            {% endif %}

            <form action="{% url 'profile_url' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ update_image_form.image.label }}
                {{ update_image_form.image }}
                <button type="submit" class="btn btn-outline-success mt-2">📷 Update image</button>
            </form>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="col-md-8">
                            <h2 class="mt-1">{{ current_user.user.first_name }} {{ current_user.user.last_name }}</h2>
                        </div>
                        <div class="col-md-4 mt-3">
                            <p>{{ current_user.user.username }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-row float-right">
                        <!-- <div class="col-md-6"> -->
                            <a href="{% url 'user_delete_url' %}" class="btn btn-outline-danger float-right mr-2">🧹 󠁛󠁛󠁛Delete user</a>
                        <!-- </div>

                        <div class="col-md-6"> -->
                            <a href="{% url 'update_profile_url' %}" class="btn btn-outline-primary float-right mr-1">🖊️ Edit profile</a>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <li class="ml-3 mt-1"></li>
                <h4 class="mt-0">{{ current_user.about }}</h4>
            </div>
            <hr>

            <h5>📧 E-Mail: {{ current_user.user.email }}</h5>
            <p class="text-secondary"> ⚠️ Last login: {{ current_user.user.last_login }}</p>
        </div>
    </div>
</div>
{% endblock main_section %}