{% extends 'Base.html' %}
{% load static %}

{% block head %}
<meta name="Description" content="Your profile, Profile, BotConstructor Profile">

<style>
    #showcase2 {
        background: url("{% static 'pictures/some3.png' %}") top center/cover no-repeat;
        min-height: 350px;
        max-height: 350px;
        position: relative;
        display: block;
        margin: 0 auto;
    }
</style>
{% endblock head %}

{% block main_section %}
{% include 'Navbar.html' %}
<section id="showcase2" class="d-flex justify-content-center align-items-center shadow">
    <div id="header" class="container text-white">
        <h1 class="text-light">Your profile</h1>
        <a href="{% url 'update_profile_url' %}" style="width: 210px;"
            class="btn btn-light text-dark border-left border-bottom border-right shadow-sm">
            Edit profile</a>
    </div>
</section>

{% if messages %}
{% for message in messages %}
<div class="shadow-effects shadow p-5">
    <div class="container">
        <p style="font-size: 18px;" class="mb-0">{{ message }}</p>
    </div>
</div>
{% endfor %}
{% endif %}

{% for field in update_image_form %}
{% if field.errors %}
<div class="shadow-effects shadow p-5">
    <div class="container">
        <p style="font-size: 18px;" class="mb-0">{{ field.errors }}</p>
    </div>
</div>
{% endif %}
{% endfor %}

<div class="shadow-effects shadow p-5">
    <div class="container">
        <div class="row mt-1">
            <div class="col-md-4">
                {% if current_user.image %}
                <img src="{{ current_user.image.url }}" class="img-fluid border-class mb-4" alt="Profile image">
                {% else %}
                <img src="{% static 'pictures/images.png' %}" class="img-fluid profile profile-img-class"
                    alt="Default profile image">
                {% endif %}
            </div>

            <div class="col-md-8">
                <div class="alert alert-light border-left border-bottom border-right shadow-sm text-dark p-4">
                    <h2 class="ml-0">@{{ current_user.user.username }}</h2>

                    <h5 class="text-dark mb-1 mt-4"><i class="far fa-user-circle"></i>
                        {{ current_user.user.first_name }} {{ current_user.user.last_name }}
                    </h5>
                    <h5 class="text-dark mb-1"><i class="far fa-envelope"></i> {{ current_user.user.email }}</h5>
                    <h5 class="text-dark mb-1"><i class="fas fa-sign-in-alt"></i> Last login:
                        {{ current_user.user.last_login }}</h5>
                </div>
            </div>
        </div>

        <div class="alert alert-light border-left border-bottom border-right shadow-sm mt-4">
            <h6 class="text-dark mt-1"><i class="far fa-file-word mr-1"></i> {{ current_user.about }}</h6>
        </div>
    </div>
</div>
{% endblock main_section %}


{% block javascript %}
<script src="https://kit.fontawesome.com/3119ee3c0b.js" crossorigin="anonymous" defer></script>
{% endblock javascript %}