{% extends 'Base.html' %}

{% block main_section %}
{% include 'Navbar.html' %}
<div class="container">
    <h2 class="text-secondary mt-2 text-center mt-4 mb-3">Sign In</h2>

    <form method="POST">
        {% csrf_token %}

        {% for field in auth_form %}
        {% if field.errors %}
        <div class="alert alert-warning alert-dismissible fade show">
            {{ field.errors }}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show">
            {{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}

        <div class="card shadow">
            <div class="card-body">
                {{ auth_form.username.label }}
                {{ auth_form.username }}
                <div class="mb-2 mt-2">
                    {{ auth_form.password.label }}
                    {{ auth_form.password }}
                </div>

                {% if is_captcha %}
                <div class="mb-2">
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6Lel7dcUAAAAACNb9UpCPkKJj8450NHH2Q01rv7t"></div>
                </div>
                {% endif %}

                <button type="submit"
                    class="btn btn-outline-light text-warning border-left border-bottom border-right shadow-sm mt-1">Sign
                    In</button>
            </div>
        </div>
    </form>
</div>
{% endblock main_section %}