{% extends 'Base.html' %}
{% load static %}


{% block head %}
<meta name="Description" content="Your profile, Profile, BotConstructor Profile">

<style>
    #showcase4 {
        background: url("{% static 'pictures/some13.png' %}") center center/cover no-repeat;
        min-height: 350px;
        max-height: 350px;
        position: relative;
        display: block;
        margin: 0 auto;
    }
</style>
{% endblock head %}


{% block main_section %}
{% include 'Navbar.html' %}
<section id="showcase4" class="d-flex justify-content-center align-items-center shadow">
    <div id="header" class="container text-white">
        <h1 class="text-light">Sign Up</h1>
    </div>
</section>

{% if messages %}
{% for message in messages %}
<div class="shadow-effects shadow p-5">
    <div class="container">
        <p style="font-size: 18px;" class="mb-0">{{ message }}</p>
    </div>
</div>
{% endfor %}
{% endif %}

{% for field in register_form %}
{% if field.errors %}
<div class="shadow-effects shadow p-5">
    <div class="container">
        {% for error in field.errors %}        
        <p style="font-size: 18px;" class="mb-0">{{ error|escape }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endfor %}

<div class="shadow p-5">
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-2">
                    <label for="id_first_name" class="mb-0">{{ register_form.first_name.label }}</label>
                    {{ register_form.first_name }}
                </div>
                <div class="form-group col-md-6 mb-2">
                    <label for="id_last_name" class="mb-0">{{ register_form.last_name.label }}</label>
                    {{ register_form.last_name }}
                </div>
            </div>
            <div class="mb-2">
                <label for="id_email" class="mb-0">{{ register_form.email.label }}</label>
                {{ register_form.email }}
            </div>

            <label for="id_username" class="mb-0">{{ register_form.username.label }}</label>
            {{ register_form.username }}
            <p class="text-muted mb-0">{{ register_form.username.help_text }}</p>

            <div class="form-row">
                <div class="col-md-6 mt-2">
                    <label for="id_password_some" class="mb-0">{{ register_form.password1.label }}</label>
                    {{ register_form.password1 }}
                    <dl class="text-muted mb-0">
                        {% for text in register_form.password1.help_text %}
                        <dd class="mb-0">— {{ text }}</dd>
                        {% endfor %}
                    </dl>
                </div>
                <div class="col-md-6 mt-2">
                    <label for="id_password_confirm" class="mb-0">{{ register_form.password2.label }}</label>
                    {{ register_form.password2 }}
                    <p class="text-muted">{{ register_form.password2.help_text }}</p>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12">
                    <div class="mt-2 mb-3">
                        <label for="id_about" class="mb-0">{{ profile_form.about.label }}</label>
                        {{ profile_form.about }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6Lel7dcUAAAAACNb9UpCPkKJj8450NHH2Q01rv7t" class="shadow-sm">
                    </div>
                </div>
            </div>

            <button type="submit"
                class="btn btn-outline-light text-dark border-left border-bottom border-right shadow-sm mt-3">Sign
                Up</button>
            <a href="{% url 'user_authentication_url' %}"
                class="btn btn-outline-light text-secondary border-left border-bottom border-right shadow-sm mt-3 ml-3 float-right">If
                you
                already
                have an
                account...</a>
        </form>
    </div>
</div>
{% endblock main_section %}