{% extends 'Base.html' %}

{% block main_section %}
{% include 'Navbar.html' %}
<div class="container">
    <h5 class="text-secondary mt-2">Here you can register in our site</h5>

    <form method="POST">
        {% csrf_token %}

        {% for field in auth_form %}
        {% if field.errors %}
        <div class="alert alert-warning">
            {{ field.errors }}
        </div>
        {% endif %}
        {% endfor %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="form-row">
            <div class="form-group col-md-6 mt-2 mb-2">
                {{ auth_form.username.label }}
                {{ auth_form.username }}
            </div>
            <div class="form-group col-md-6 mt-2 mb-2">
                {{ auth_form.password.label }}
                {{ auth_form.password }}
            </div>
        </div>

        {% if is_captcha %}
        <div class="mb-2">
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6Lf21b8UAAAAAEBwgOQVQGnM3lOntyJqS9IFdxQJ"></div>
        </div>
        {% endif %}

        <button type="submit" class="btn btn-outline-warning">SignIn</button>
    </form>
</div>
{% endblock main_section %}