{% extends 'Base.html' %}

{% block main_section %}
{% include 'Navbar.html' %}
<div class="container">
    <h2 class="text-secondary text-center mt-4 mb-3">Updating credentials</h2>

    <form method="POST">
        {% csrf_token %}

        {% for field in update_form %}
        {% if field.errors %}
        <div class="alert alert-dark shadow-sm alert-dismissible fade show">
            {{ field.errors }}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dark shadow-sm alert-dismissible fade show">
            {{ message }}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}

        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6 mt-2 mb-2">
                        {{ update_form.first_name }}
                    </div>
                    <div class="form-group col-md-6 mt-2 mb-2">
                        {{ update_form.last_name }}
                    </div>
                </div>
                <div class="mb-2">
                    {{ update_form.email }}
                </div>

                {{ update_form.username }}
                <div class="form-row">
                    <div class="col-md-6 mt-2">
                        {{ update_form.password_some }}
                    </div>
                    <div class="col-md-6 mt-2">
                        {{ update_form.password_confirm }}
                    </div>
                </div>

                
                {{ update_profile_form.about }}
                <button type="submit" class="btn btn-outline-warning mt-0">Update profile</button>
            </div>
        </div>
    </form>
</div>
{% endblock main_section %}