{% extends 'Base.html' %}
{% load static %}


{% block head %}
<meta name="Description" content="Edit profile, Profile, BotConstructor Profile, Editing">

<style>
    #showcase5 {
        background: url("{% static 'pictures/some3.png' %}") top center/cover no-repeat;
        min-height: 350px;
        max-height: 350px;
        position: relative;
        display: block;
        margin: 0 auto;
    }
</style>
{% endblock head %}


{% block main_section %}
{% include 'Navbar.html' %}
<section id="showcase5" class="d-flex justify-content-center align-items-center shadow">
    <div id="header" class="container text-white">
        <h1 class="text-light">Edit profile</h1>
    </div>
</section>


<div class="container">
    {% for field in update_form %}
    {% if field.errors %}
    <div
        class="alert alert-light text-dark border-bottom border-left border-right shadow-sm alert-dismissible fade show mt-4">
        {{ field.errors }}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}

    {% if messages %}
    {% for message in messages %}
    <div
        class="alert alert-light text-dark border-bottom border-left border-right shadow-sm alert-dismissible fade show mt-4">
        {{ message }}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
</div>

<form method="POST" action="{% url 'update_profile_url' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="shadow p-5">
        <div class="container">
            <div class="form-row">
                <div class="form-group col-md-6 mt-2 mb-2">
                    {{ update_form.first_name.label }}
                    {{ update_form.first_name }}
                </div>
                <div class="form-group col-md-6 mt-2 mb-2">
                    {{ update_form.last_name.label }}
                    {{ update_form.last_name }}
                </div>
            </div>
            <div class="mb-2">
                {{ update_form.email.label }}
                {{ update_form.email }}
            </div>

            {{ update_form.username.label }}
            {{ update_form.username }}

            <div class="mt-2 mb-2">
                {{ update_profile_form.about.label }}
                {{ update_profile_form.about }}
            </div>
            <button type="submit"
                class="btn btn-light text-success shadow-sm border-bottom border-left border-right mt-2 mb-2">Update</button>
        </div>
    </div>


    <div class="shadow p-5">
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-8">
                    {% if getted_current_user.image %}
                    <img src="{{ getted_current_user.image.url }}" class="img-fluid w-100 border-class">
                    {% else %}
                    <img src="{% static 'pictures/images.png' %}" class="img-fluid profile profile-img-class">
                    {% endif %}
                </div>
            </div>

            <div class="mt-3">
                {{ update_image_form }}<br>
            </div>
            <button type="submit"
                class="btn btn-light text-success shadow-sm border-bottom border-left border-right mt-3 mb-2">Update</button>

        </div>
    </div>
</form>
</div>
{% endblock main_section %}